.admin-container {
	min-height: 100%;
	background-color: rgba(0,0,0,0.04);
}

.content-container {
	// background: blue;
	position: relative;
	margin-left: 300px;
}

.content-header {
	display: flex;
	height: 100px;
	border-bottom: 1px solid grey;

	> h3 {
		align-self: center;
		padding-left: 30px;
	}
}