# DIRECTORIES

dev-portfolio.sublime-project
assets/
node_modules/
build/
documentation/

#FILES

package-lock.json

# ELASTIC BEANSTALK FILES
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
