#project-page-container {
	height: 100%;
	width: 100%;
 	position: relative;
}

.project-cont {
	height: 100%;
	background-color: $feature-color;
	position: relative;
	animation: shrink 0.4s forwards;
	animation-delay: 1s;
}

@keyframes shrink {
	from 	{height: 100%}
	to 		{height: 97%}
}

#project-landing-container {
	margin: auto;
	background-size: contain;
	width: 50%;
	background-repeat: no-repeat;
	height: 50%;
	background-position: center;
	top:50%;
	position: relative;
	transform: translateY(-50%);
}

.sections-container {
	width: 100%;
	position: relative;

	@media only screen and (max-width: $phone-large) {
	   padding-bottom: 0px;
	}
}

.sections-inner-container {
	width: 50%;
	position: relative;
	left: 16.6666%;
	margin-top: 100px;
	max-width: 700px
}

.project-page-pin-container {
	position: absolute;
	bottom: -10px;
	right: 8.3333%;
	z-index: 2;
}

.project-page-pin-container #pin-head {
	stroke: white
}

.project-page-pin-container #pin-stem {
	stroke: white
}

.project-page-pin-container #pin-text {
	fill: white
}















