#project-page-container {
	height: 100%;
	width: 100%;
	position: relative;
}

.project-brief-container {
	> h3 {
		text-transform: uppercase;
	}
}

.project-cont {
	height: 100%;
	background-color: $feature-color;
	position: relative;
	animation: shrink 0.4s forwards;
	animation-delay: 1s;
}

@keyframes shrink {
	from {
		height: 100%;
	}
	to {
		height: 97%;
	}
}

#project-landing-container {
	margin: auto;
	background-size: contain;
	width: 50%;
	background-repeat: no-repeat;
	height: 50%;
	background-position: center;
	top: 50%;
	position: relative;
	transform: translateY(-50%);

	@media only screen and (max-width: $phone-large) {
		height: 100vh;
		// top: 0;
		left: inherit !important;
		width: 80% !important;
		margin: auto;
	}
}

.sections-container {
	width: 100%;
	position: relative;

	@media only screen and (max-width: $phone-large) {
		padding-bottom: 0px;
	}
}

.project-page-pin-container {
	position: absolute;
	bottom: -10px;
	right: 8.3333%;
	z-index: 2;
}

.project-page-pin-container #pin-head {
	stroke: white;
}

.project-page-pin-container #pin-stem {
	stroke: white;
}

.project-page-pin-container #pin-text {
	fill: white;
}
