@import url('https://fonts.googleapis.com/css?family=Abril+Fatface');

@import '../common/common.scss';

.project-cont {
	height: 100%;
	background-color: $feature-color;
	position: relative;
}

#project-page-container {
	height: 100%;
	width: 100%;
	animation: 	fade-in 1s ease-in-out; 
 	animation-fill-mode: forwards;
 	position: relative;

 	@media only screen and (max-width: $phone-large) {
		// height: auto;
		min-height: 100%;
	}
}

// @keyframes fade-in {
//  	0% { opacity: 0; }
//  	100% { opacity: 1; }
// }

#project-landing-container {
	max-width: 900px;
	margin: auto;
	height: 100%;

	@media only screen and (max-width: $phone-large) {
	   overflow: hidden;
	   margin-left: 15px;
	   margin-right: 15px;
	   position: relative;

	}
}

#project-intro-text-container {
	width: 330px;	
	float:left;
	position: absolute;
	top:50%;
	transform: translateY(-50%);

	@media only screen and (max-width: $phone-large) {
	   width: 100%;
	}
	
	 & > p {

		font-family: 'Roboto', sans-serif;
		font-weight: 300;
		line-height: 30px;
		// color: #7E7E7E;
		color: white;
	}

	& > h4 {
		text-transform: uppercase;
		margin: 0;
		font-weight: 100;
		color: white;
	}

	& > h1 {
		margin-bottom: 50px;
		font-size: 50px;
		color: white;
	}

	& > h2 {
		color: white;
	}

	& > hr {
		background-color: white;
	}

}

.full-width-container {
	width:100%;
}

#header-image-container {
	width: 50%;
	position: absolute;
	top:50%;
	left: 50%;
	height: 80%;
	overflow: hidden;
	transform: translateY(-50%);

	> h1 {
		// color: $feature-color;
	}

	@media only screen and (max-width: $phone-large) {
	   display: none
	}

	> img {
		height: 100%;
	}
}

#back-button-container {
	position: absolute;
	display: block;
	top: 50%;
	height: 100%;
	width: 100%;
	transform: translateY(-50%);
}

#back-button {
	height: 50px;
	width: 20px;
	top:50%;
	transform: translateY(-50%);
	position: relative;
	cursor: pointer;
	margin-bottom: 50px;

	@media only screen and (max-width: $phone-large) {
	   left: 0px;
	   margin-bottom: 10px;
	}
}

[class^="back-icon-line"] {
	position: relative;
	width: 12px;
	height: 2px;
	background-color: white;
	display: block;
	margin: auto;
	top: 50%;
	
	&[class$="one"] {
		transform: rotate(-45deg) translateX(0.5px);
		transform-origin: center left;
	}

	&[class$="two"] {
		width: 24px;
		transform: translateY(-2.75px) translateX(6px);
		left: 1px;
	}

	&[class$="three"] {
		transform: rotate(45deg) translateX(0.5px);
		transform-origin: center left;
	}

}

a > #back-button {
	height: 100%;
}











