.section-content-container {
	margin: auto;
	padding-bottom: 50px;
	padding-top: 50px;

	> div {
		margin-bottom: 30px;
	}

	> div img {
		width: 100%;
	}
}

.section-content {
	> div h2 {
		padding-top: 30px;
	}
}

.sections-inner-container {
	width: 50%;
	position: relative;
	left: 16.6666%;
	margin-top: 100px;
	max-width: 700px;

	@media only screen and (max-width: $phone-large) {
		left: inherit;
		padding-left: 15px;
		width: auto;
		padding-right: 15px;
	}
}

.image-container {
	height: 100%;
	display: block;

	@media only screen and (max-width: $phone-large) {
		margin-right: 15px;
		margin-left: 15px;
	}
}

.highlight {
	background: antiquewhite;
    padding: 0px 3px 0px 3px;
    font-style: normal;
}
