.about-main-section-container {
	width: 100%;
	position: relative;
	display: flex;

	@media only screen and (max-width: $phone-large) {
		display: block;
	}

}

#about-me-image {
	min-width: 33%;
	max-width: 41.666%;
	margin: 0;
	flex-grow: 1;
	height: 90vh;

	@media only screen and (max-width: $phone-large) {
		min-width: inherit;
		max-width: inherit;
		width: 100%;
		height: 60vh;
	}
}

.about-image-container {
	background: url('/assets/aboutMe.jpg');
	background-size: cover;
	background-position: 80%;
	height: 100%;
}

.about-text-container {
	position: relative;
	width: 41.666%;
	margin-right: 8.3333%;
	margin-left: 8.3333%;
	margin-top: 100px;
	display: inline-block;
	float: right;
	max-width: 600px;

	> h2 {
		margin-bottom: 40px;
	}

	@media only screen and (max-width: $phone-large) {
		width: auto;
		margin-right: auto;
		margin-left: auto;
		max-width: auto;
		padding-left: 15px;
		padding-right: 15px;
	}
}

.about-paragraphs {

	// margin-top: 40px;
	margin-bottom: 40px;

	&.top {
		width: 100%
	} 

	&.left {
		// display: inline-block;
		float: left;
		width: calc(50% - 20px);
		margin-right: 20px;

		@media only screen and (max-width: $phone-large) {
			width: 100%;
			margin-right: auto;
			float: none;
		}
	}

	&.right {
		// display: inline-block;
		float: right;
		width: calc(50% - 20px);
		margin-left: 20px;

		@media only screen and (max-width: $phone-large) {
			width: 100%;
			margin-left: auto;
			float: none;
		}
	}
}