.reference-quote-container {
	position: relative;
	width: 50%;
	left: 25%;
	margin: 100px 0px 100px 0px;
	clear: both;
	display: inline-block;
}

.quote {
	color: #E2E2E2
}

.quote-author {
	color: #E2E2E2;
	width: 50%;
	float: right;
	margin-top: 50px
}