$next-arrow-width: 35px;

.next-button-container {

	cursor: pointer;
	display: block;
	position: relative;
	height: $next-arrow-width;
	width: $next-arrow-width;

	> span {

		display: inline-block;
		opacity:1;
		height: 2px;
		position: absolute;
		margin-top: 50%;
		animation: next-arrow-animation 1.5s infinite ease-in-out;

		&:nth-child(1) {
			transform: rotate(-45deg) translateY(-0.5px);
			right: 0;
			transform-origin: center right;
			width: $next-arrow-width/3;
		}

		&:nth-child(2) {
			transform: translateX(-1px);
			left:0;
			right: 0;
		}

		&:nth-child(3) {
			width: $next-arrow-width/3;
			transform: rotate(45deg) translateY(0.5px);
			transform-origin: center right;
			right: 0;
		}

	}

	&:hover span {
		animation-play-state: paused;
	}
}

@keyframes next-arrow-animation {
	0%, 100% 	{ right: 0;  }
	50%			{ right: 10px;  }
}

.next-btn-text {
	position: absolute;
	display: inline-block;
	right: 100%;
	margin-right: 20px;
	transform: translateY(-50%);
	top:50%;
	white-space: nowrap;
}




