.carousel-container {
	overflow: hidden;
	height: 100%;
	position: relative;

}

.about-lhs {
	width: 100%;
	height: 100%;

	> h2 {
		margin: 0;
		text-transform: uppercase;
	}

	@media only screen and (max-width: $phone-large) {
	   width: 100%;
	}
}


.slide-container {
	width: 100%;
	overflow: hidden;
	white-space: nowrap;

	@media only screen and (max-width: $phone-large) {
	   width: 100%;
	}
}

.slide {
	width: 100%;
	white-space: initial;
	display: inline-flex;
	transition: transform 0.3s;
	top:0;
	position: relative;
	padding-top: 10px;
	padding-bottom: 75px;

	@media only screen and (max-width: $phone-large) {
	   padding-bottom: 0px;
	}

	> span p {
		color: black;
		// font-weight: bolder;
		// font-size: 1.5em;
		// line-height: 1.7;
		display: contents;
	}

	> span i {
		color: black;
		font-weight: lighter;
		text-decoration: underline;
		font-size: 1em;
	}

	> span h2 {
		color: $feature-color!important;
		font-size: 2.5em;
		text-transform: uppercase;
		display: contents;
	}
}

.dot-container {
	position: absolute;
	bottom: 8px;

	> div {
		position: relative;
		height: 20px;
	}

	@media only screen and (max-width: $phone-large) {
	   position: relative;
	   margin-top: 50px;
	}
}

.red-dot {
	
	width: 30px;
	height: 30px;
	// background-color: $feature-color;
	border: solid $feature-color 3px;
	border-radius: 30px;
	display: inline-block;
	margin-right: 20px;
	position: relative;
	cursor: pointer;
	top: 50%;
	transform: translateY(-50%); 
	

	&:after {
		content: '';
		width: 20px;
		height: 20px;
		display: inline-block;
		border-radius: 30px;
		background-color: $feature-color;
		left:50%;
		top: 50%;
		transform: translate(-50%, -50%);
		opacity:0;
		transition: opacity 0.3s;
	}

	&:after {
		position: absolute;
		bottom: 0;
	}

	&:hover:after {
		opacity: 1;
	}

}


.active-red-button:after {
	opacity:1;
	transition: opacity 0.3s;
}