@import "../common/common.scss";

.about-container {

	margin-bottom: 100px;

	@media only screen and (max-width: $phone-large) {
	   overflow: hidden;
	}
}

#about-img-container {
	width: 100%;
	position: relative;
	transition: width 0.5s;

	@media only screen and (max-width: $phone-large) {
	   width: 200%;
	}
 }

 .white-cover-lhs {
 	fill: white;
 	animation: 	move 1s ease-in-out; 
 	-moz-animation: move-moz 1s ease-in-out; 
 	animation-fill-mode: forwards;
 }

 .white-cover-rhs {
 	fill: white;
 	x:50%;
 	animation: 	move 1s ease-in-out; 
 	-moz-animation: move-moz 1s ease-in-out; 
 	animation-fill-mode: forwards;
 	animation-delay: 0.2s;
 }

 @-moz-keyframes move-moz {
 	0% { transform: translateY(0%); }
 	100% { transform: translateY(-100%) }
 }

 @keyframes move {
  0% { y: 0%; }
  100% { y: -100%; }

}

#about-text-container {
	max-width: 900px;
	margin: auto;
	margin-top: 100px;

	&:after {
		content: ".";
		display: block;
		height: 0;
		clear: both;
		visibility: hidden;
	}
}


i {
	color: black;
	margin-top: 20px;
	margin-bottom: 20px;
	font-size: 1.2em;
}


















