@import "../common/common.scss";

.about-container {
	margin-bottom: 100px;

	@media only screen and (max-width: $phone-large) {
	   overflow: hidden;
	}
}

#about-img-container {
	width: 100%;
	position: relative;
	transition: width 0.5s;

	@media only screen and (max-width: $phone-large) {
	   width: 200%;
	}
 }

 .white-cover-lhs {
 	fill: white;
 	animation: 	move 1s ease-in-out; 
 	animation-fill-mode: forwards;
 }

 .white-cover-rhs {
 	fill: white;
 	x:50%;
 	animation: 	move 1s ease-in-out; 
 	animation-fill-mode: forwards;
 	animation-delay: 0.2s;
 }

 @-moz-keyframes move {
 	0% { y: 0%; }
 	100% { y: -100%; }
 }

 @keyframes move {
  0% { y: 0%; }
  100% { y: -100%; }

}

.image-1 {
	x: 50%;
	y: 0%;
}

.image-2 {
	x: 0%;
	y: -40%;	
}

#about-text-container {
	max-width: 900px;
	margin: auto;
	margin-top: 100px;

	&:after {
		content: ".";
		display: block;
		height: 0;
		clear: both;
		visibility: hidden;
	}
}

.question-container {
	font-size: 30px;

	@media only screen and (max-width: $phone-large) {
	   // position: relative;
	   height: 300px;
	   width: auto!important;
	   float: none!important;
	   display: inline-block;
	   left: 50%;
	   transform: translateX(-50%);
	}
}

#question-mark {
	
	z-index: 2;
	line-height: 0;

	&:before, &:after {
		content: '?';
		position: absolute;
		left: 30px;
		top: 150px;
		color: white;
		font-size: 300px;

		@media only screen and (max-width: $phone-large) {
			left: -15px;
			top: 180px;
			font-size: 200px;
		}
		
	} 

	&:before {
		z-index: 3;
		-webkit-mix-blend-mode: difference;
		mix-blend-mode: difference;
	}

	&:after {
		z-index: -1;
		-webkit-mix-blend-mode: difference;
		mix-blend-mode: difference;

	}

}

.feature-text {
	font-family: 'roboto', sans-serif;
	font-weight: 300;
	line-height: 30px;
	color: #7E7E7E;
}

i {
	color: black;
	margin-top: 20px;
	margin-bottom: 20px;
	font-size: 1.2em;
}


















