.scroll-dots {
	width: 8.3333%;
	right: 8.3333%;
	top: 50%;
	transform: translateY(-50%);
	opacity: 0;
	transition: opacity 1s;
	position: absolute;

	&.fixed {
		position: fixed !important;
		opacity: 1;
		z-index: 2;
	}

	@media only screen and (max-width: $phone-large) {
		display: none;
	}

	> h2 {
		color: white;
		margin-top: 20px;
		margin-bottom: 20px;
	}

	> p {
		color: $grey-text-dark-bkg;
	}

	> span {
		margin: 20px auto 20px auto;
		width: 10px;
		height: 10px;
		border-radius: 10px;
		border: 1px white solid;
		display: block;
		cursor: pointer;
		transition: all 0.3s;
		position: relative;

		> .tool-tip {
			color: $grey-text-dark-bkg;
			position: absolute;
			top: 50%;
			transform: translateY(-50%);
			transition: all 0.3s;
			left: 30px;
			opacity: 0;
			line-height: 1.1em;
		}

		&:hover .tool-tip {
			opacity: 1;
		}
	}
}

.active-dot {
	width: 20px !important;
	height: 20px !important;
	border: none !important;

	background-color: $secondary-color !important;
}

.view-all-button {
	position: relative;
	width: 100%;

	> h3,
	a {
		position: absolute;
		transform: rotate(90deg);
		transform-origin: left;
		left: 50%;
		color: white;
		text-decoration: none;
		white-space: nowrap;
	}
}
