#form-container {
	width: 41.6666%;
	overflow: hidden;
	margin-top: 50px;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
}

form {
	margin: auto;	
}

input, textarea {
	width: 100%;
	padding: 10px 10px 10px 10px;
	border:1px solid white;
	box-sizing: border-box;
	height: 2.5em;
	font-size: 1em;
	background: none;
	color: white
}

textarea {
	height: 15em;
	background: none;
}

input:focus, textarea:focus {
	outline-color: $light-grey;
	// border-bottom: 3px solid $feature-color;
}

dt {
	color: $grey-text-dark-bkg;
	margin-bottom: 5px;
}

dd {
	margin: 0
}

button {
	width: 90px;
	height: 30px;
	background-color: $feature-color;
	border: none;
	cursor: pointer;
	float: right;
	color: white;
	clear: both;
}

.input-error-container {
	width: 100%;
	// float: left;
	> b {
		color: white;
	}
}

.error-box {
	width: 100%;
	// position: relative;
	height: 25px;
	margin: 0;
	padding:0;
	display: block;
}

.error-text {
	position: absolute;
	line-height: 30px;
	font-weight: normal;
	color: red;
	font-size: 0.8em;
	margin: 0;
	padding: 0;
}

