#form-container {
	width: 41.6666%;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	min-width: 300px;
	height: 70vh;
	display: flex;
	flex-direction: column;

	@media only screen and (max-width: $phone-large) {
		width: calc(100% - 30px);
		padding-left: 15px;
		padding-right: 15px;
		margin-top: 0;
		height: 90vh;
	}

	> h2 {
		@media only screen and (max-width: $phone-large) {
			margin-bottom: 40px;
		}
	}
}

#form-container form {
	margin: auto;
	display: flex;
	flex-direction: column;
	flex-grow: 1;
	width: 100%;

	> dl {
		display: flex;
		flex-direction: column;
		flex-grow: 1;
	}

	> dl dt {
		@media only screen and (max-width: $phone-large) {
			font-size: 2em;
		}
	}

	> dl dd input, dl dd textarea {
		width: 100%;
		padding: 10px 10px 10px 10px;
		border:1px solid white;
		color: white;
		background: none;
		border-radius: 0px;
	}

	dl dd textarea {
		background: none;
		position: absolute;
		top: 0;
		bottom: 0;
		
	}

	input:focus, textarea:focus {
		outline-color: $light-grey;
	}

	button {
		float: right;

		> a {
			color: white;
		}
	}

	dl dd input {
		@media only screen and (max-width: $phone-large) {
			height: 40px;
		}
	}

}

input:focus, textarea:focus {
	outline-color: $light-grey;
}

.input-error-container {
	width: 100%;
	// float: left;
	> b {
		color: white;
	}
}

.error-box {
	width: 100%;
	// position: relative;
	height: 25px;
	margin: 0;
	padding:0;
	display: block;
}

.error-text {
	position: absolute;
	line-height: 30px;
	font-weight: normal;
	color: red;
	font-size: 0.8em;
	margin: 0;
	padding: 0;
}

