@import "../common/common.scss";

#form-container {
	width: 333px;
	padding: 50px;
	float: right;

	@media only screen and (max-width: $phone-large) {
	   width: auto;
	   padding: 20px;
	}
}

form {
	width: 100%;
	margin-top: 30px;

}

input {
	width: 100%;
	padding: 10px 0px 10px 10px;
	// margin-top: 15px;
	// margin-bottom: 15px;
	border: 5px;
	border-style: solid;
	border-color: black;
	box-sizing: border-box;
	height: 50px;
	font-size: 1.1rem;
	font-weight: 200;
}


textarea {
	width: 100%;
	max-width: 100%;
	min-width: 100%;
	border: 5px;
	border-style: solid;
	border-color: black;
	// margin-top: 10px;
	// margin-bottom: 20px;
	padding: 0;
	box-sizing: border-box;
	padding: 10px 0px 10px 10px;
	font-size: 1.1rem;
	font-weight: 200;
}

button {
	width: 50px;
	height: 50px;
	background-color: #000000;
	border: none;
	border-radius: 50px;
	cursor: pointer;
	float: right
}

.error-box {
	position: relative;
	height: 30px;
}

.error-text {
	position: absolute;
	line-height: 30px;
	font-weight: normal;
	color: red;
	font-size: 0.8em;
}
