#landing-container {
	width: 100%;
	margin: auto;
	height: 100%;
	overflow: hidden;
	position: relative;
}


#landing-inner-container {
	width: 50%;
	min-width: 700px;
	left:8.333%;
	display: inline-block;
	position: relative;
	top:50%;
	transform: translateY(-50%);

	> h1 {
		letter-spacing: -0.05em;
		position: relative;

		> .smile {
			position: absolute;
			width: 1.3em;
			height: 0.4em;
			border-bottom-right-radius: 1.3em 0.85em;
			border-bottom-left-radius: 1.3em 0.85em;
			border: solid 0.1em $secondary-color;
			border-top:none;
			box-sizing: border-box;
			left: 0.6em;
			top: 1.1em;
		}
	}

	> h2 a {
		color: white;
	}

	@media only screen and (max-width: $phone-large) {
	   width: 83.333%;
	   min-width: auto;
	   // right: 8.333%
	}

}

.eyes {
	display: inline-block;
	transform: rotate3d(0, 1, 0, 1deg);
	
	&:before {
		// content: '';
		// width: 100%;
		// height: 50%;
		// background-color: $background-color;
		// position: absolute;
		// top:0;
		// animation: blink 2s infinite ease-in-out;
	}
}

// @keyframes blink {
// 	0%, 100% {
// 		height: 0%
// 	}
// 	10% {
// 		height: 100%;
// 	}
// 	35% {
// 		height: 0%;
// 	}
// }









