@import "../common/common.scss";

#landing-inner-container {
	width: 100%;
	display: inline-block;
	position: relative;
	top:50%;
	transform: translateY(-50%);

	@media only screen and (max-width: $phone-large) {
	   // margin-top: 50px
	}

}

#landing-container {
	max-width: 900px;
	margin: auto;
	height: 100%;
}

#intro-text-container {	
	float:left;
	position: absolute;
	top:50%;
	transform: translateY(-50%);
	
	 & > p {

		font-family: 'Roboto', sans-serif;
		font-weight: 300;
		line-height: 30px;
		color: #7E7E7E;

	}

	@media only screen and (max-width: $phone-large) {
	   position: relative;
	   top: auto;
	   transform: translateY(0%);
	   margin-top: 50px;
	}

}

.circle-icon-svg {
	width: 80px;
	margin-bottom: 50px;
	position: absolute;
	top:0;
	animation: rotate 1s;
	// animation-fill-mode: forwards;
	transform: rotate(100deg);

	.cls-1 {
		fill: #8A8A8A;
	}

	@media only screen and (max-width: $phone-large) {
	   position: static;
	   width: 100px;
	}
}

.circle-icon-svg:hover {
	animation: inifiny-rotate 2s;
	animation-fill-mode: forwards;
}

@keyframes rotate
{
    0% { transform: rotate(0deg); }
   100% { transform: rotate(100deg); }
}

@keyframes inifiny-rotate
{
     0% { transform: rotate(100deg); }
   100% { transform: rotate(360deg); }
   
}

#header-text-container {
	line-height: 80px;

	&:before,
	&:after {
		content: '';
		border-radius: 50%;
		display: block;
		width: 300px;
		height: 300px;
		position: absolute;
		// right: -150px;
		top: 50%;
		right: 10%;
		animation: 	transform 20s ease-in-out, 
					movement 70s ease-in-out;
  		animation-direction: alternate-reverse;
  		animation-fill-mode: forwards;
  		animation-iteration-count: infinite;
	}

	&:before {
		background-color: white;
		-webkit-mix-blend-mode: difference;
		mix-blend-mode: difference;
		z-index: 1;
	}

	&:after {
		background-color: white; 
		z-index: -1;
	}

	@media only screen and (max-width: $phone-large) {
	   line-height: 40px;
	}
}

@keyframes transform {
  0%,
  100% { border-radius: 63% 37% 54% 46% / 55% 48% 52% 45%; } 
   14% { border-radius: 40% 60% 54% 46% / 49% 60% 40% 51%; } 
   28% { border-radius: 54% 46% 38% 62% / 49% 70% 30% 51%; } 
   42% { border-radius: 61% 39% 55% 45% / 61% 38% 62% 39%; } 
   56% { border-radius: 61% 39% 67% 33% / 70% 50% 50% 30%; } 
   70% { border-radius: 50% 50% 34% 66% / 56% 68% 32% 44%; } 
   84% { border-radius: 46% 54% 50% 50% / 35% 61% 39% 65%; } 

}

@keyframes movement
{
    0%,
  100% { transform: translate(50%, -50%); }
   50% { transform: translate(-50%, -100%) rotateY(10deg); }
   75% { transform: translate(-50%, 0%) rotateY(10deg); }

}

.header-words-appear {
	opacity: 0;
  	transform: translateY(50%);
}

.header-mask {
	overflow: hidden;
	display: block;

	@media only screen and (max-width: $phone-large) {
		white-space: pre;
	   	display: inline-block;
	}
}

.test {
	width: 100px;
	height: 100px;
	background-color: red;
	position: fixed;
	top: 0;
}

