@import "../common/common.scss";

#portfolio-container {
	// min-height: 100%;
	// width: 100%;
	margin-bottom: 100px;
	padding-top: 100px;
}

#portfolio-inner-container {
	max-width: 900px;
	margin: auto;

	&:after {
		content: ".";
		display: block;
		height: 0;
		clear: both;
		visibility: hidden;
	}
}

#gallery-container {
	margin-top: 50px;
}

[class^='project-container'] {
	background-color: lightgrey;
	float: left;
	margin-top: 15px;
	overflow: hidden;
	background-size: cover;
	background-position: center; 
	cursor: pointer ;
	transition: width 0.3s;
	position: relative;

	// HOVER EFFECT START --------
	
	&:before, &:after {
		content: "";
	    position:absolute;
	    border-color:rgba(0,0,0,0);
	    border-style:solid;
	    box-sizing: border-box;
	    transition: all 0.3s ease-out;
	}

	&:before {
		border-width:0 5px;
	    width: 100%;
	    height: 50%;
	    top:25%;
	}

	&:after {
		border-width:5px 0px;
	    width: 50%;
	    height: 100%;
	    left:50%;
	    transform: translateX(-50%);
	}

	&:hover {
    	&:before {
    		height: 100%;
    		top:0;
    		border-color:rgba(0,0,0,1);
    	}

    	&:after {
    		left:0;
    		width: 100%;
    		transform: translateX(0%);
    		border-color:rgba(0,0,0,1);
    	}
    }
    // HOVER EFFECT END --------

	&[class$="one"] {
		width: 100%;
		height: 500px;

		@media only screen and (max-width: $phone-large) {
		   height: 300px;
		}
	}

	&[class$="two"] {
		width: calc(60% - 15px);
		height: 300px;
		margin-right: 15px;

		@media only screen and (max-width: $phone-large) {
		   height: 300px;
		   width: 100%;
		}
	}

	&[class$="three"] {
		width: calc(40%);
		height: 300px;

		@media only screen and (max-width: $phone-large) {
		   height: 300px;
		   width: 100%;
		}
	}


}