@import "../common/common.scss";

#portfolio-container {
	height: 100%;
	// width: 100%;
	// margin-bottom: 100px;
	padding-top: 100px;
	// position: fixed;
	// width: 100%;
	// top:0;
	// z-index: 10;
	// background-color: white;

	@media only screen and (max-width: $phone-large) {
	   margin-left: 0px;
	   height: auto;
	}
}

#portfolio-inner-container {
	width: 100%;
	height: 100%;
	margin: auto;

	&:after {
		content: ".";
		display: block;
		height: 0;
		clear: both;
		visibility: hidden;
	}
}

#gallery-container {
	margin-top: 50px;
	height: 80%;
	// width: auto;
	white-space: nowrap;
	overflow-y: hidden;
	overflow-x: scroll;

	@media only screen and (max-width: $phone-large) {
		white-space: initial;
		margin-left: 15px;
		margin-right: 15px;
	}
}

.background-img-container {
		background-size: cover;
		width: 100%;
		height: 100%;
		background-position: center;
		transition: all 0.3s;
		position: absolute;
	}

[class^='project-container'] {
	background-color: lightgrey;
	// float: left;
	margin-left: 15px;
	margin-right: 15px;
	// overflow: hidden;
	background-size: cover;
	background-position: center; 
	cursor: pointer ;
	transition: all 0.3s;
	position: relative;
	display: inline-block;
	overflow: hidden;
	width: 55%;
	height: 100%;


	@media only screen and (max-width: $phone-large) {
		margin-left: 0px;
		margin-right: 0px;
		margin-bottom: 5px;
	}


	// HOVER EFFECT START --------
	
	&:before, &:after {
		content: "";
	    position:absolute;
	    border-color:rgba(0,0,0,0);
	    border-style:solid;
	    box-sizing: border-box;
	    transition: all 0.3s ease-out;
	    pointer-events: none;
	}

	&:before {
		border-width:0 5px;
	    width: 100%;
	    height: 50%;
	    top:25%;
	    z-index: 2;
	}

	&:after {
		border-width:5px 0px;
	    width: 50%;
	    height: 100%;
	    left:50%;
	    transform: translateX(-50%);
	}

	&:hover {


    	&:before {
    		height: 100%;
    		top:0;
    		border-color:rgba(0,0,0,1);
    	}

    	&:after {
    		left:0;
    		width: 100%;
    		transform: translateX(0%);
    		border-color:rgba(0,0,0,1);
    	}

    	.background-img-container{
			transform: scale(1.2);
		}
    }
    // HOVER EFFECT END --------

	&[class$="one"] {
		

		@media only screen and (max-width: $phone-large) {
		   height: 300px;
		   width: 100%;
		}
	}

	&[class$="two"] {


		@media only screen and (max-width: $phone-large) {
		   height: 300px;
		   width: 100%;
		}
	}

	&[class$="three"] {


		@media only screen and (max-width: $phone-large) {
		   height: 300px;
		   width: 100%;
		}
	}

	


}