.project-core-container {
	width: 100%;
	// background-color: white;
	height: 150px;
	position: relative;
	cursor: move;
}

#project-list-container ul li {
	background-color: white;
	list-style-type: none;
}

#project-list-container ul li:nth-child(2n + 0) {
	background-color: #f7f7f7;
}

.core-display-btns-container {
	float: right;
	display: inline-block;
	position: absolute;
	right: 50px;
	top: 50%;
	transform: translateY(-50%);

	> button i,
	a button i {
		font-size: 1.5em;
		cursor: pointer;
	}
}

.core-display-title-container {
	display: inline-block;
	margin-left: 30px;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);

	> h2 {
		display: inline-block;
		margin-left: 30px;
		vertical-align: sub;
	}
}
