.content-section-container  {

	margin-top: 30px; 
	margin-bottom: 30px;

	&:hover span i {
		opacity: 1;
	}

	> h3 {
		display: inline-block;
		margin-right: 20px;
	}

	> span i {
		opacity: 0;
		cursor: pointer;
		transition: opacity 0.3s;
	}

	> p {
		white-space: pre-line;
	}
}

.input-subtext {
	margin-bottom: 0;
    font-weight: 400;
    font-style: italic;
    font-size: small;
    /* text-transform: uppercase; */
    opacity: 0.5;

}

.edit-container {

	> input, textarea {
		color: black;
		border: 1px solid black;
		font-size: inherit;
		margin-top: 10px;
		background: white;
	}

	> textarea {
		height: 200px;
	}
}

.save-cancel-container {
	
	> button {
		margin-right: 10px;
		cursor: pointer;
		color: grey;
		transition: color 0.3s;
	}

	> button:hover {
		color: black;
	}
}

.raw-project-data {

}

